{# home page : This page shows the last 3 properties #}

{% extends 'base.html.twig' %}

{% block title %}Accueil - Immo78{% endblock %}

{% block body %}

<div class="container">

    <div class="p-5 mb-4 rounded-3">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-5 fw-bold">L'immobilier sur Mantes la jolie et alentours</h1>
            <button class="btn btn-outline-light fw-bold" type="button">Voir nos biens
                disponibles</button>
        </div>
    </div>

    <div class="container text-center">
        <h2>Les derniers biens publiés</h2>
        <div class="row">
            {% for property in properties %}
            <div class="col-3">
                <div class="card">
                    {# check if the property has at least one image #}
                    {% if property.firstPicture %}
                    <img src="{{ vich_uploader_asset(property.firstPicture, 'imageFile') | imagine_filter('property_thumb') }}"
                        class="card-img-top" alt="..." width="100%" height="auto">
                    {% else %}
                    <img src="{{ '/images/properties/no-image.png' | imagine_filter('property_thumb') }}"
                        class="card-img-top" alt="no-image.png" width="100%" height="auto">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">
                            {# slug and id pass in param #}
                            <a href="{{ path('property.show', {slug: property.slug, id: property.id }) }}">{{
                                property.title }}</a>
                        </h5>
                        <p class="card-text">{{ property.city }} ({{ property.postalCode}})</p>
                        <p>{{ property.formattedPrice }} €</p>
                        <p>{{ property.Slug }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}