{# save this template in cache, set an unique key to identify the cache and an expiration time(optional) #}

{# cache "property" ~ property.id ~ ";" ~ property.updatedAt #}
<div class="col-3">
    <div class="card">
        {# check if the property has at least one image #}
        {% if property.firstPicture %}
        <img src="{{ vich_uploader_asset(property.firstPicture, 'imageFile') | imagine_filter('property_thumb') }}"
            class="card-img-top" alt="..." width="100%" height="auto">
        {% else %}
        <img src="{{ '/images/properties/no-image.png' | imagine_filter('property_thumb') }}" class="card-img-top"
            alt="no-image.png" width="100%" height="auto">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ path('property.show', {slug: property.slug, id: property.id }) }}">{{
                    property.title
                    }}</a>
            </h5>
            <p class="card-text">
                {{property.surface}} m² - {{ property.city }} ({{ property.postalCode}})
            </p>
            <p>{{ property.formattedPrice }} €</p>
            <p>Options :
                {% for option in property.options %}
                {{ option.name }}
                {% endfor %}
            </p>
        </div>
    </div>
</div>
{# endcache #}