{# property show page : This page shows one property #}

{% extends 'base.html.twig' %}

{% block title %}{{ property.title }} - Immo78{% endblock %}

{% block body %}

<div class="container mt-4" style="max-width: 1020px;">
    {% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% if not contactForm.vars.valid %}
    <div class="alert alert-danger">Veuillez remplir correctement le formulaire.</div>
    {% endif %}
    <div class="row">

        <!-- IMAGE BLOCK -->
        <div class="col-md-7">
            {# check if the property has at least one image #}
            {% if property.firstPicture %}
            {# display caroussel to show all images#}
            <div id="carouselExample" class="carousel slide border border-secondary">
                <div class="carousel-inner">
                    {% for picture in property.pictures %}
                    <div class="carousel-item {% if picture == property.firstPicture %}active{% endif %}">
                        <a href="{{ vich_uploader_asset(picture, 'imageFile') }}">
                            <img src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('property_medium') }}"
                                alt="Image du bien" style="max-width: 100%;">
                        </a>
                    </div>
                    {% endfor %}
                </div>
                {% if property.pictures.count > 1 %}
                <button class="carousel-control-prev bg-secondary" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev" style="width: fit-content;">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next bg-secondary" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next" style="width: fit-content;">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                {% endif %}
            </div>

            {% else %}
            <img src="{{ '/images/properties/no-image.png' | imagine_filter('property_medium') }}" class="card-img-top"
                alt="...">
            {% endif %}
        </div>

        <!-- INFORMATION BLOCK -->
        <div class="col-md-5">
            <h3 id="property-title">{{ property.title }}</h3>
            <h4>{{ property.rooms }} pièces - {{ property.surface }} m²</h4>
            <h4 class="fw-bold">{{ property.formattedPrice }} €</h4>
            <p>
                <span class="text-decoration-underline">Description</span> : <span class="fst-italic">{{
                    property.description | nl2br }}</span>
            </p>
            <a href="#" class="btn btn-secondary rounded-0" id="contactButton" {% if contactForm.vars.submitted %}
                style="display: none;" {% endif %}>Contacter l'agence</a>

            <div id="contactForm" {% if not contactForm.vars.submitted %}style="display: none;" {% endif %}>
                <div class="p-3 bg-secondary" style='position: absolute;z-index: 1;'>
                    {{ form_start(contactForm) }}
                    <div class="row text-light">
                        <div class="col">{{ form_row(contactForm.firstName) }}</div>
                        <div class="col">{{ form_row(contactForm.lastName) }}</div>
                    </div>
                    <div class="row text-light">
                        <div class="col">{{ form_row(contactForm.phone) }}</div>
                        <div class="col">{{ form_row(contactForm.email) }}</div>
                    </div>
                    <div class="col text-light">{{ form_rest(contactForm) }}</div>
                    <div class="form-group">
                        <button class="btn btn-light rounded-0">Envoyer</button>
                        <button class="btn btn-danger rounded-0" id="cancelButton">Annuler</button>
                    </div>
                    {{ form_end(contactForm) }}
                </div>
            </div>
        </div>
    </div>

    <hr class="my-4">

    <div class="row">

        <!-- FEATURES BLOCK -->
        <div class="col-md-6">
            <h3>Caractéristiques du bien</h3>
            <table class="table table-success table-bordered opacity-75">
                <tr>
                    <td>Surface habitable en m²</td>
                    <td>{{ property.surface }}</td>
                </tr>
                <tr>
                    <td>Pièces</td>
                    <td>{{ property.rooms }}</td>
                </tr>
                <tr>
                    <td>Chambres</td>
                    <td>{{ property.bedrooms }}</td>
                </tr>
                <tr>
                    <td>Etages</td>
                    <td>{{ property.floor }}</td>
                </tr>
                <tr>
                    <td>Type de chauffage</td>
                    <td>{{ property.heatType }}</td>
                </tr>
            </table>
        </div>

        <!-- OPTIONS BLOCK -->
        <div class="col-md-6">
            <h3>Équipement(s)</h3>
            <table class="table table-success table-bordered opacity-75">
                {% if (property.options.count > 0) %}
                {% for option in property.options %}
                <tr>
                    <td>{{ option.name }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td>Aucun équipement n'est lié à ce bien</td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>

    <hr class="my-4">

    <!-- MAP BLOCK -->
    <div id="map" style="width: 100%; height: 600px;" data-lat="{{ property.latitude }}"
        data-lng="{{ property.longitude }}" class="mb-4"></div>

</div>
{% endblock %}