{# save this template in cache, set an unique key to identify the cache and an expiration time(optional) #}

{# cache "article" ~ article.id ~ ";" ~ article.updatedAt #}
<div class="card mb-4 bg-transparent p-0" style="max-width: 800px;">
    <div class="row g-0">
        <div class="col-md-5 bg-light">
            <a href="{{ path('news.show', {'id' : article.id, 'slug' : article.slug }) }}">
                <img src="{{ vich_uploader_asset(article, 'image_file') | imagine_filter('news_thumb') }}"
                    class="img-fluid rounded-start border-end border-2" alt="illustration de l'article">
            </a>
        </div>
        <div class="col-md-7 d-flex flex-column">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.text | u.truncate(200) }}... <a
                        href="{{ path('news.show', {'id' : article.id, 'slug' : article.slug }) }}">Lire
                        la suite</a></p>
            </div>
            <p class="card-text text-end px-3 pb-2"><small class="text-body-secondary fst-italic ">{{
                    article.createdAt |
                    date('d/m/Y')
                    }}</small>
            </p>
        </div>
    </div>
</div>
{# endcache #}