{# save this template in cache, set an unique key to identify the cache and an expiration time(optional) #}

{# cache "article" ~ article.id ~ ";" ~ article.updatedAt #}
<div class="card mb-4 bg-transparent p-0" style="max-width: 800px;">
    <div class="row g-0">
        <div class="col-md-4">
            {% if article.imageName %}
            <a href="{{ path('news.show', {'id' : article.id, 'slug' : article.slug }) }}">
                <img src="{{ article.imageName }}" class="img-fluid rounded-start" alt="illustration de l'actualité"
                    width="100%" height="auto">
            </a>
            {% else %}
            <img src="{{ '/images/properties/no-image.png' | imagine_filter('article_thumb') }}"
                class="img-fluid rounded-start" alt="no-image.png" width="100%" height="auto">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.text | u.truncate(200) }}... <a
                        href="{{ path('news.show', {'id' : article.id, 'slug' : article.slug }) }}">Lire
                        la suite</a></p>
                <p class="card-text text-end"><small class="text-body-secondary">{{ article.createdAt | date('d/m/Y')
                        }}</small>
                </p>
            </div>
        </div>
    </div>
</div>
{# endcache #}