{# news show page : This page shows one news article (front office) #}

{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} - Immo78{% endblock %}

{% block body %}

<div class="container py-4" style="max-width: 800px;">
    <div class="my-4">
        <h1 class="text-center">{{ article.title }}</h1>
        <div class="my-3 text-center">
            <img src="{{ vich_uploader_asset(article, 'image_file') | imagine_filter('news_medium') }}"
                alt="illustration de l'article" class="border border-secondary bg-light">
        </div>
        <p class="fst-italic text-secondary text-center">Publié le {{ article.createdAt | date('d/m/Y \\à H\\hi') }}</p>
        <p class="fs-5">{{ article.text | nl2br }}</p>
    </div>
    <hr>
    <div class="mx-auto" style="max-width: 700px;">
        <div class="my-4">
            <p>Commenter cet article :</p>
            {{ form_start(form) }}
            <div class="my-1 col-5">{{ form_row(form.userName) }}</div>
            <div class="my-1 col-7">{{ form_row(form.text) }}</div>
            <div class="form-goup">
                <button type="submit" class="btn btn-light rounded-0 my-1">Envoyer</button>
            </div>
            {{ form_end(form) }}
        </div>
        <div>
            {% for post in posts %}
            <div class="border-start border-2 border-secondary ps-2 my-4">
                <div><span class="fw-bold">{{ post.userName }}</span> - <span class="fst-italic fw-light">le {{
                        post.createdAt
                        | date('d/m/Y \\à H\\hi')
                        }}</span>
                </div>
                <p class="border-start border-2 border-light ps-2">{{ post.text | nl2br }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}