{# news show page : This page shows one news article (front office) #}

{% extends 'base.html.twig' %}

{% block title %}{{ article.title }} - Immo78{% endblock %}

{% block body %}

<div class="container" style="max-width: 800px;">
    <div class="my-4">
        <h1 class="text-center">{{ article.title }}</h1>
        <div class="my-3 text-center">
            <img src="{{ vich_uploader_asset(article, 'image_file') | imagine_filter('news_medium') }}"
                alt="illustration de l'article" class="border border-secondary">
        </div>
        <p class="fst-italic text-secondary text-center">Publié le {{ article.createdAt | date('d/m/Y \\à H\\hi') }}</p>
        <p class="fs-5">{{ article.text | nl2br }}</p>
    </div>
    <hr>
    <div class="mx-auto" style="max-width: 700px;">
        <div class="my-4">
            <p>Commenter cet article :</p>
            <form class="form contact" action="#" id="contact-form" method="post">
                <div class="my-1 col-5">
                    <input type="text" class="form-control rounded-0 bg-light" id="name" name="name" placeholder="Nom">
                </div>
                <div class="my-1 col-7">
                    <textarea class="form-control rounded-0 bg-light" placeholder="Commentaire..." id="message"
                        name="message"></textarea>
                </div>
                <button type="submit" class="btn btn-light rounded-0 my-1">Envoyer</button>
            </form>
        </div>
        <div>
            <div class="">
                {% for post in posts %}
                <div><span class="fw-bold">{{ post.userName }}</span> - <span class="fst-italic fw-light"> Posté le {{
                        post.createdAt
                        | date('d/m/Y \\à H\\hi')
                        }}</span>
                </div>
                <p>{{ post.text | nl2br }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}