{# admin option index page : This page shows all options to manage them (back office) #}

{% extends 'base.html.twig' %}

{% block title %}Gérer les options - Immo78{% endblock %}

{% block body %}

<div class="container mt-4" style="max-width: 1020px;">
    <div>
        <div>
            <h2>Gérer les options liées aux biens</h2>
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        </div>
        <div>
            <h5>Nombre total d'options : {{ options|length }}</h5>
            <a href="{{ path('admin.option.new') }}" class="btn btn-primary rounded-0">Ajouter une nouvelle option</a>
        </div>

    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>N°</th>
                <th>Titre</th>
            </tr>
        </thead>
        <tbody>
            {% for option in options %}
            <tr>
                <td>{{ option.id }}</td>
                <td>{{ option.name }}</td>
                <td><a href="{{ path('admin.option.edit', {id: option.id}) }}"
                        class="btn btn-secondary rounded-0">Editer</a>
                    <form method="post" action="{{ path('admin.option.delete', {id: option.id}) }}"
                        class="d-inline-block" onsubmit="return confirm('Voulez-vous vraiment supprimer ce bien ?')">
                        <input type="hidden" name="_method" value="DELETE"> {# _method is known by symfony #}
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}"> {# create
                        token #}
                        <button class="btn btn-danger rounded-0">Supprimer</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}